<a href="https://colab.research.google.com/github/santhoshmc/machine-learning/blob/main/Football_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#mounting google drive

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

#Reading files and performing EDA

In [2]:
import pandas as pd

In [3]:
path = "/content/drive/MyDrive/Python/Datasets/Bundesliga_Results.csv"

In [4]:
df = pd.read_csv(path)
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,D1,7/8/1993,Bayern Munich,Freiburg,3,1,H,NaN,NaN,NaN,1993-94
1,D1,7/8/1993,Dortmund,Karlsruhe,2,1,H,NaN,NaN,NaN,1993-94
2,D1,7/8/1993,Duisburg,Leverkusen,2,2,D,NaN,NaN,NaN,1993-94
3,D1,7/8/1993,FC Koln,Kaiserslautern,0,2,A,NaN,NaN,NaN,1993-94
4,D1,7/8/1993,Hamburg,Nurnberg,5,2,H,NaN,NaN,NaN,1993-94

In [7]:
df = df.drop(['Div','Date'],axis=1)

In [8]:
df.head()

        HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  HTR   Season
0  Bayern Munich        Freiburg     3     1   H   NaN   NaN  NaN  1993-94
1       Dortmund       Karlsruhe     2     1   H   NaN   NaN  NaN  1993-94
2       Duisburg      Leverkusen     2     2   D   NaN   NaN  NaN  1993-94
3        FC Koln  Kaiserslautern     0     2   A   NaN   NaN  NaN  1993-94
4        Hamburg        Nurnberg     5     2   H   NaN   NaN  NaN  1993-94

In [12]:
HomeTeam = df["HomeTeam"]
AwayTeam = df["AwayTeam"]
print(HomeTeam)
print(AwayTeam)

0       Bayern Munich
1            Dortmund
2            Duisburg
3             FC Koln
4             Hamburg
            ...
7650              NaN
7651       Leverkusen
7652            Mainz
7653              NaN
7654        Wolfsburg
Name: HomeTeam, Length: 7655, dtype: object
0             Freiburg
1            Karlsruhe
2           Leverkusen
3       Kaiserslautern
4             Nurnberg
             ...
7650               NaN
7651          Hannover
7652               NaN
7653     Ein Frankfurt
7654           FC Koln
Name: AwayTeam, Length: 7655, dtype: object

In [14]:
home_away_team = pd.concat([HomeTeam,AwayTeam])

In [15]:
len(home_away_team.value_counts())

43

In [16]:
home_away_team.value_counts()

Leverkusen            851
Bayern Munich         850
Werder Bremen         850
Dortmund              850
Hamburg               850
Schalke 04            850
Stuttgart             816
Wolfsburg             715
M'gladbach            714
Ein Frankfurt         647
Hertha                646
Freiburg              612
FC Koln               579
Hannover              511
Kaiserslautern        476
Nurnberg              442
Mainz                 409
Bochum                408
Hansa Rostock         374
Hoffenheim            340
Munich 1860           340
Bielefeld             306
Duisburg              272
Augsburg              238
Karlsruhe             238
Cottbus               204
St Pauli              136
Ingolstadt             68
Darmstadt              68
Dresden                68
Unterhaching           68
Dusseldorf             68
Uerdingen              68
RB Leipzig             68
Ulm                    34
Aachen                 34
Leipzig                34
Greuther Furth         34
Fortuna Dusseldorf     34
Braunschweig           34
Paderborn              34
M'Gladbach             34
Wattenscheid           34
dtype: int64