<a href="https://colab.research.google.com/github/santhoshmc/machine-learning/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Core Components of Pandas

## Creating dataframes from scratch

In [3]:
import pandas as pd

In [5]:
data = {'apple': [1,2,3,4],
        "orange": [5,6,7,8]}

In [6]:
purchase_df = pd.DataFrame(data)
print(purchase_df)

   apple  orange
0      1       5
1      2       6
2      3       7
3      4       8

In [7]:
purchase_df = pd.DataFrame(data, index=["jun","Rob","Ram","Tom"])
print(purchase_df)

     apple  orange
jun      1       5
Rob      2       6
Ram      3       7
Tom      4       8

In [8]:
purchase_df.loc['jun']

apple     1
orange    5
Name: jun, dtype: int64

##How to read in data

In [9]:
df = pd.read_csv("/content/purchase.csv")
print(df)

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [10]:
df = pd.read_csv("/content/purchase.csv", index_col=0)
print(df)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

Reading data from json

In [11]:
df = pd.read_json('/content/purchases.json')
print(df)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

##Saving the data frame

In [13]:
df.to_csv("newPurchase.csv")

In [15]:
df.to_csv("newPurchases1.csv", index=False)

In [16]:
df.to_json("newPurchaseJson.json")

#Most Important Data Frame Operations

In [14]:
import pandas as pd

##Reading your data

In [15]:
url = "https://raw.githubusercontent.com/AjeetSingh02/articles/master/Python%20Pandas%20Tutorial%20A%20Complete%20Introduction%20for%20Beginners/IMDB-Movie-Data.csv"
movies_df = pd.read_csv(url, index_col="Title")

##Viewing a dataset

In [24]:
movies_df.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [17]:
movies_df.head(2)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [18]:
movies_df.tail(2)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

## getting info about a data

In [19]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [20]:
movies_df.shape

(1000, 11)

##Handling duplicates

In [21]:
temp_df=movies_df.append(movies_df)
print(temp_df.shape)

(2000, 11)

In [22]:
temp_df = temp_df.drop_duplicates()
print(temp_df.shape)

(1000, 11)

In [26]:
temp_df = movies_df.append(movies_df)
temp_df.drop_duplicates(inplace=True, keep=False)
print(temp_df.shape)

(0, 11)

##Column name cleanup

In [27]:
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [28]:
movies_df.rename(columns={'Runtime (Minutes)':'Runtime',
                          'Revenue (Millions)':'Revenue'
                          }, inplace=True)
print(movies_df.columns)

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue', 'Metascore'],
      dtype='object')

In [30]:
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']
print(movies_df.columns)

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

In [33]:
movies_df.columns = [col.lower() for col in movies_df]
print(movies_df.columns)

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

##How to work with missing values

###Finding missing values

In [34]:
movies_df.isnull()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,False,False,False,False,False,False,False,False,False,False,False
Prometheus,False,False,False,False,False,False,False,False,False,False,False
Split,False,False,False,False,False,False,False,False,False,False,False
Sing,False,False,False,False,False,False,False,False,False,False,False
Suicide Squad,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,False,False,False,False,False,False,False,False,False,True,False
Hostel: Part II,False,False,False,False,False,False,False,False,False,False,False
Step Up 2: The Streets,False,False,False,False,False,False,False,False,False,False,False
Search Party,False,False,False,False,False,False,False,False,False,True,False
Nine Lives,False,False,False,False,False,False,False,False,False,False,False

In [37]:
movies_df.isnull().sum()

rank                  0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

###Removing null values

In [39]:
dropna_df = movies_df.dropna()

In [40]:
dropna_df.shape

(838, 11)

In [41]:
type(dropna_df)

pandas.core.frame.DataFrame

In [44]:
temp_df = movies_df.dropna(axis=1)
print(temp_df.shape)

(1000, 9)

In [46]:
temp_df.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes'],
      dtype='object')

###Imputation