<a href="https://colab.research.google.com/github/santhoshmc/machine-learning/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Core Components of Pandas

## Creating dataframes from scratch

In [3]:
import pandas as pd

In [5]:
data = {'apple': [1,2,3,4],
        "orange": [5,6,7,8]}

In [6]:
purchase_df = pd.DataFrame(data)
print(purchase_df)

   apple  orange
0      1       5
1      2       6
2      3       7
3      4       8

In [7]:
purchase_df = pd.DataFrame(data, index=["jun","Rob","Ram","Tom"])
print(purchase_df)

     apple  orange
jun      1       5
Rob      2       6
Ram      3       7
Tom      4       8

In [8]:
purchase_df.loc['jun']

apple     1
orange    5
Name: jun, dtype: int64

##How to read in data

In [9]:
df = pd.read_csv("/content/purchase.csv")
print(df)

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [10]:
df = pd.read_csv("/content/purchase.csv", index_col=0)
print(df)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

Reading data from json

In [11]:
df = pd.read_json('/content/purchases.json')
print(df)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

##Saving the data frame

In [13]:
df.to_csv("newPurchase.csv")

In [15]:
df.to_csv("newPurchases1.csv", index=False)

In [16]:
df.to_json("newPurchaseJson.json")